{% extends "layout.html" %}
{% load static %}
{% block title %}  {% endblock %}
Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.


{%block content%}
<div class="container">

	<div class="d-flex flex-column" style="
    text-align: center;
">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2">
		    Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с<br>
			  		указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.

		  </p>
		  <p class="m-auto p-2">
		    Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, <br>
			  с которым зарегистрировались, и проверьте папку со спамом.

		  </p>
		  <p class="m-auto p-2"><a href="{% url 'mylogout' %}">Return to home page</a></p>
	</div>
</div>


{%endblock%}

{%block script%}
{%endblock%}